{% extends "landing_page.jinja" %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/styles.css') }}"
/>
{% endblock %} {% block header %} {% include "partials/header.jinja" %} {%
endblock %} {% block content %}
<!-- Jumbotron / Hero -->
<div
  class="d-flex align-items-center justify-content-center text-center"
  id="jumbotron"
  style="height: 85vh"
>
  <div
    class="col-lg-6 h-50 d-flex flex-column justify-content-center align-items-center rounded-4 p-3"
    id="glass-card"
  >
    <h1>VTasks</h1>
    <p class="lead text-bold">
      Uma nova forma de você estudar, de forma mais eficiente,
      <br />centralizada e organizada
    </p>
    <!-- Aqui você pode adicionar uma imagem ou botão -->
  </div>
</div>

<!-- Segundo bloco -->
<div  id="products" class="d-flex justify-content-center align-items-center p-5 bg-body-tertiary" style="height: 70vh">
  <div class="container text-center">
    <h2 class="border-bottom mt-10 pb-5">Diversas ferramentas, um único lugar</h2>
    <div
      class="row row-cols-1 row-cols-md-2 g-4 justify-content-center mt-4"
    >
      <div class="col mb-3 text-start">
        <h4 class="fw-bold">
          Uma nova forma de ter as ferramentas e integrá-las com mais facilidade
        </h4>
        <p class="lead text-justify">Com o <strong>VTasks</strong> você possui um ambiente integrado e desenvolvido pensando na 
        sua experncia, não precisando integrar com outras ferramentas, e tendo tudo centralizado em um único lugar, promovendo segurança,
        tranquilidade, e maior agilidade para atingir seus objetivos. </p>
      </div>
      <div class="col mb-3">
        <div class="row row-cols-1">
            <div class="col mb-3 d-flex justify-content-start align-items-center gap-3">
                <div class="bg-gradient bg-primary p-2 rounded-2 text-white text-primary">
                    <img
                        class="text-primary text-white"
                        src="{{ url_for('static', filename='svg/book_light.svg') }}"
                        alt="bookmark"
                        width="32"
                        height="32"
                    />
                </div>
                <h5>Anotações markdown focando em <i>conforto</i> e <i>ergononomia</i></h5>
            </div>
            <div class="col mb-3 d-flex justify-content-start align-items-center gap-3">
                <div class="bg-gradient bg-primary p-2 rounded-2 text-white text-primary">
                    <img
                        class="text-primary text-white"
                        src="{{ url_for('static', filename='svg/todo_light.svg') }}"
                        alt="bookmark"
                        width="32"
                        height="32"
                    />
                </div>
                <h5>Feramentas <i>integradas</i> e <i>centralizadas</i>, em um único lugar</h5>
            </div>
            <div class="col mb-3 d-flex justify-content-start align-items-center gap-3">
                <div class="bg-gradient bg-primary p-2 rounded-2 text-white text-primary">
                    <img
                        class="text-primary text-white"
                        src="{{ url_for('static', filename='svg/timer_light.svg') }}"
                        alt="bookmark"
                        width="32"
                        height="32"
                    />
                </div>
                <h5>Maior <i>velocidade</i>, menos <i>estresse</i></h5>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center bg-body-secondary " style="height: 90vh">
        <div class="d-flex justify-content-center align-items-center">
            <div id="founder-image" class=" rounded-4 shadow-sm border border-5 border-primary"></div>
        </div>

</div>

{% endblock %} 
{% block footer %} 
    {% include "partials/footer.html" %} 
{% endblock %}
