<div class="d-flex flex-column flex-shrink-0 bg-body-tertiary p-3 min-vh-100" style="width: 280px;">
  <h3>VTasks</h3>
  <hr>
  <ul class="gap-1 nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      
      {% if active_page == "home" %}
        <a class="nav-link link-body-emphasis active text-light" href="{{ url_for('views.home.home') }}">
      	 <img class="px-1" src="{{ url_for('static', filename='svg/light_home.svg') }}">Home
        </a>
      {% else %}
        <a class="nav-link link-body-emphasis" href="{{ url_for('views.home.home') }}">
          <img class="px-1" src="{{ url_for('static', filename='svg/home.svg') }}">Home
        </a>
      {% endif %}

    </li>
    <li class="nav-item">
      {% if active_page == "dashboard" %}
        <a class="nav-link link-body-emphasis active text-light" href="{{ url_for("views.home.home") }}">
         <img class="px-1" src="{{ url_for('static', filename="svg/light_dashboard.svg") }}"></img>dashboard
        </a>
      {% else %}
        <a class="nav-link link-body-emphasis" href="{{ url_for("views.home.home") }}">
          <img class="px-1" src="{{ url_for('static', filename="svg/dashboard.svg") }}"></img>dashboard
        </a>
      {% endif %}
    </li>
    <li class="nav-item">
      {% if active_page == "todo" %}
        <a class="nav-link link-body-emphasis active text-light" href="{{ url_for('views.home.todo') }}">
         <img class="px-1" src="{{ url_for('static', filename='svg/light_checklist.svg') }}">todo
        </a>
      {% else %}
        <a class="nav-link link-body-emphasis" href="{{ url_for('views.home.todo') }}">
          <img class="px-1" src="{{ url_for('static', filename='svg/checklist.svg') }}">todo
        </a>
      {% endif %}
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    	<li><a class="dropdown-item" href="#">Perfil</a></li>
    	<li>
    		<a class="dropdown-item" href="#">
    			<img class="px-1" src="{{ url_for('static', filename='svg/settings.svg') }}">Configuração
    		</a>
    	</li>
      <li><hr class="dropdown-divider"></li>
      	<li>
          <a class="dropdown-item" href="{{ url_for('views.auth.logout') }}">
      			<img class="px-1" src="{{ url_for('static', filename='svg/logout.svg') }}">Log out
  			</a>
  		</li>
    </ul>
  </div>
</div>
